.citizen-body {
	a {
		font-family: "Kode Mono";
	}

	.mw-parser-output {
		.new {
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--color-link-red) 50%);
			border-bottom: 2px solid var(--color-link-red);
			background-color: #371218;
		}
		a {
			background-size: 100% 200%;
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--color-primary) 50%);
			transition: all 0.3s;
			border-bottom: 2px solid var(--color-primary);
			background-color: var(--color-surface-2);
		}
		a:hover {
			background-position: 0 100%;
			color: white !important;
			padding: 0 0.2em 0 0.2em;
		}

		.factions-grid {
			.new {
				background-image: unset;
				border-bottom: unset;
				background-color: unset;
			}
			a {
				background-image: unset;
				border-bottom: unset;
				background-color: unset;
			}
			a:hover {
				background-position: 0 100%;
				color: white !important;
			}
		}

		.dpw-characterNav {
			.new {
				background-image: unset;
				border-bottom: unset;
				background-color: unset;
			}
			a {
				background-image: unset;
				border-bottom: unset;
				background-color: unset;
			}
			a:hover {
				background-position: 0 100%;
				color: white !important;
			}
		}

		.mw-file-description {
			background-size: unset;
			background-image: unset;
			padding: unset;
			border-bottom: unset;

			&:hover {
				transform: unset;
				padding: unset;
			}
		}
		
		.mw-editsection {
			a {
				background-size: unset;
				background-image: unset;
				padding: unset;
				border-bottom: unset;

				&:hover {
					transform: unset;
					padding: unset;
				}
			}
		}
	}

	a.image {
		display: inline-block;
		overflow: hidden;
		vertical-align: top; // get rid of that weird bottom gap from inline block

		> img {
			transition: var( --transition-hover );
			transition-property: transform;
		}

		// Add affordance to replace magnify icon
		&:hover:not( .lazy ):not( .new ) {
			> img {
				transform: scale( 1.1 );
			}
		}
	}

	.mw-image-border img {
		border: 1px solid var(--border-color-base);
	}
}
