// Custom DPW stuff
.dpw-content-container {
    display: flex;
    grid-area: content;
    border: 2px solid var(--color-primary);
	background-color: var(--color-surface-1);
}

.citizen-body {
    flex-grow: 1;
}

.citizen-page-sidebar {
    @media ( min-width: @min-width-breakpoint-desktop ) {
        min-width: 20em;
        border-left: 2px solid var(--color-primary);
        background-color: var(--color-surface-2);
    }
}

.mw-title-icon {
    padding: 0.1em;
    border-width: 2px;
    border-style: solid;
    border-color: var(--border-color-base);
    display: flex;
}

#world-factions {
    border-color: #009fe4;
    background: #005072;
}

#data-point-s1 {
    border-color: #f97316;
    background: #74360a;
}

#data-point-s2 {
    border-color: #9a74ff;
    background: #352857;
    
    img {
        filter: hue-rotate(230deg);
    }
}

.mw-body-content {
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}