// Custom DPW stuff
.dpw-content-container {
    display: flex;
    grid-area: content;
    // align-items: start;
}

.citizen-body {
    flex-grow: 1;
    background: ~'hsla( var( --color-primary__h ), var( --color-surface-1__s ), var( --color-surface-1__l ), 0.6 )';
    border: 1px solid var(--color-primary);
}

.citizen-page-sidebar {
    @media ( min-width: @min-width-breakpoint-desktop ) {
        min-width: 20em;
        background-color: var(--color-surface-2);
        border-right: 1px solid var(--color-primary);
        border-bottom: 1px solid var(--color-primary);
    }
}

.mw-title-icon {
    padding: 0.1em;
    border-width: 2px;
    border-style: solid;
    border-color: var(--border-color-base);
    display: flex;
}

#world-factions {
    border-color: #009fe4;
    background: #005072;
}

#data-point-s1 {
    border-color: #f97316;
    background: #74360a;
}

#data-point-s2 {
    border-color: #9a74ff;
    background: #352857;
    
    img {
        filter: hue-rotate(230deg);
    }
}

.mw-body-content {
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.mw-category {
    display: grid;
    
    @media ( min-width: @min-width-breakpoint-desktop ) {
        grid-template-columns: auto auto auto;
    }
    
    grid-template-columns: auto auto;
    gap: 1em;
}

.dpw-fake-border {
    border-right: 2px solid var(--color-primary);
}

.dpw-body-row {
    display: flex;
    gap: 0.5em;
}

.dpw-body-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wikiEditor-ui-bottom {
    padding-top: 0.5em;
}

.spoiler {
    background: black;
    color: black;
    transition: all 0.1s;
    padding: 0.1em;

    &:hover {
        color: white;
    }
}

b {
    border: 1px solid var(--border-color-base);
    border-bottom-width: 2px;
    background: rgba(255, 255, 255, 0.05);
}

.mp-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
}

.mp-title {
    font-size: xx-large;    
}

.mp-title {
    border-right: 2px solid white;
    margin-right: 2em;
    padding-right: 2em;
}

.mp-navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mp-navbutton {
    height: 50%;
    background: var(--color-surface-2);
    border: 1px solid var(--border-color-base);
    border-bottom: 2px solid var(--color-primary);
    padding: 0.5em 2em 0.5em 2em;
}

.timeline-event {
    background: var(--color-surface-2);
    padding: 0.3em;
    padding-left: 0.5em;
    border: 1px solid var(--border-color-base);
    border-left: 2px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;

    &:hover {
        background: var(--color-surface-3);
    }
}

.timeline-date {
    color: var(--color-primary);
    font-weight: bold;
    font-size: larger;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    border-bottom: 1px solid var(--border-color-base);
}