.infobox {
    background: var(--color-surface-2);
    border: 1px solid var(--border-color-base);
    padding: 0.5em;
    border-top: 5px solid var(--color-primary);
    float: right;
    clear: right;
    margin-left: 1em;
    margin-bottom: 0.5em;
    min-width: 32em;
    max-width: 35em;
    font-size: smaller;

    .title,
    .infobox-above,
    .subtitle,
    .infobox-header,
    .infobox-title,
    .infobox-subheader {
        text-transform: uppercase;
        text-align: center;
        padding: 0.3em;
        font-weight: bold;
    }

    .title,
    .infobox-above {
        background: var(--color-primary);
        font-size: large;
        color: var(--color-base--emphasized);
        margin-bottom: 0.2em;

        &::before {
            content: "// ";
        }

        &::after {
            content: " //";
        }
    }

    .subtitle,
    .infobox-header {
        background: var(--color-primary);
        color: var(--color-base--emphasized);
    }

    .infobox-title {
        font-size: large;
        color: var(--color-base--emphasized);
    }

    .infobox-subheader {
        text-align: center;
        background: var(--color-surface-3);
        margin-bottom: 0.2em;
    }

    .infobox-full-data {
        text-align: center;
    }

    p {
        margin: 0;
    }

    ul {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 1.5em;
    }

    .image,
    .infobox-image {
        text-align: center;
        border-bottom: 1px solid var(--border-color-base);
        padding: 0.5em;

        img {
            max-width: 100%;
            height: auto;
            contain: strict;
        }
    }

    .infobox-label {
        background: var(--color-surface-3);
        border-right: 2px solid var(--color-primary);
        border-bottom: 1px solid var(--border-color-base);
        color: unset;
        width: 30%;
        text-align: center;
        font-weight: bold;
        padding: 0.3em;
        text-transform: uppercase;
        word-wrap: break-word;
    }

    .infobox-data {
        background: var(--color-surface-1);
        padding: 0.2em;
        border: 1px solid var(--border-color-base);
        border-top: 0;
        text-align: center;
        width: 70%;
    }

    .infobox-below {
        text-align: center;
        background: var(--color-surface-3);
    }

    .infobox-row {
        display: flex;
        width: 100%;
    }
}

.notif {
    color: white;
    text-transform: uppercase;
    padding: 0.2em;
    margin-bottom: 0.5em;
    pointer-events: none;
    user-select: none;

    &::before {
        content: "// ";
    }
}

#warning-notif {
    background: #aa3325;
    border: 1px solid #ff5d4b;
    border-left-width: 0.5em;
}

#spoilers-notif {
    background: #928a1f;
    border: 1px solid #ffed4b;
    border-left-width: 0.5em;
}

#note-notif {
    background: #707070;
    border: 1px solid #dfdfdf;
    border-left-width: 0.5em;
}

.notif-subheader {
    font-style: italic;
    font-size: smaller;
}

.textquote-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: italic;
    background: var(--color-surface-0);
    padding: 1em;
    border-top: 2px dashed var(--color-primary);
    border-bottom: 2px dashed var(--color-primary);
}

.textquote {
    &::before {
        content: "„ ";
        color: var(--color-primary);
    }

    &::after {
        content: " ”";
        color: var(--color-primary);
    }
}

.textquote-footer {
    text-align: end;
    color: var(--color-subtle);

    &::before {
        content: "— ";
    }
}

.sitenotice {
    background: var(--color-primary);
    padding: 0.3em;
    font-size: large;
    color: white;
    text-transform: uppercase;

    p {
        margin: 0;

        &::before {
            content: "/// ";
        }

        &::after {
            content: " /// ";
        }
    }
}

.factions-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;

    .new {
        background-image: unset;
        border-bottom: unset;
        background-color: unset;
    }

    a {
        background-image: unset;
        background-color: unset;
        border-bottom: unset;
    }

    a:hover {
        background-position: 0 100%;
        color: white !important;
    }
}

.factions-category {
    border: 1px solid var(--color-primary);
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        object-fit: cover;
    }

    &:hover {
        .factions-text {
            font-size: 150%;
        }
    }
}

.factions-text {
    padding: 0 0.5em 0 0.5em;
    background: var(--color-surface-1);
    border-top: 1px solid var(--color-primary);
    font-size: 130%;
    transition: all 0.5s;
}

.dpw-infobox {
    display: flex;
    flex-direction: column;
}

.dpw-infoboxTitle {
    background: var(--color-primary);
    font-size: 200%;
    padding: 0 0.5em 0 0.5em;
    width: 50%;
    font-family: "Kode Mono";
    text-transform: uppercase;

    &::before {
        content: "// ";
    }
}

.dpw-infoboxSubtitle {
    padding: 0.5em;
    text-align: center;
    font-size: 110%;
    background: var(--color-surface-1);
}

.dpw-infoboxContents {
    background: var(--color-surface-2);
    border: 1px solid var(--border-color-base);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
}

.dpw-infoboxRow {
    display: flex;
    align-items: start;
}

.dpw-infoboxPortrait {
    display: flex;
    justify-content: center;
    width: 30%;
    flex-shrink: 0;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid var(--color-primary);
    margin-right: 1em;
}

.dpw-infoboxImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--color-primary);
}

.dpw-infoboxPortraitImage {
    border: 1px solid var(--border-color-base);
}

.dpw-infoboxPortraitSubtitle {
    font-style: italic;
    margin-top: 0.5em;
}

#status-deceased {
    background: rgba(176, 46, 46, 0.8);
    color: white;
}

.dpw-tablePersonStatus {
    color: white;
    padding: 0.5em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: "Kode Mono";

    &::before {
        content: "[ ";
    }

    &::after {
        content: " ]";
    }
}

#deceasedStatus {
    background: rgba(176, 46, 46, 0.8);
}

#aliveStatus {
    background: rgba(46, 176, 63, 0.8);
}

#missingStatus {
    background: rgba(133, 133, 133, 0.8);
}

#status-mia {
    background: rgba(145, 145, 145, 0.8);
    color: white;
}

.dpw-infoboxPortraitStatus {
    text-align: center;
    font-size: 130%;

    &:before {
        content: "[ ";
    }

    &:after {
        content: " ]";
    }
}

.dpw-infoboxDataGrid {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    gap: 0.5em;
}

.dpw-infoboxData {
    display: flex;
    align-items: center;
}

.dpw-infoboxDataHeader,
.dpw-infoboxDataText {
    text-align: center;
    align-content: center;
    padding: 0.2em 0em 0.2em 0em;
    font-size: 110%;
    height: 100%;
}

.dpw-infoboxDataHeader {
    text-transform: uppercase;
    background: var(--color-primary);
    font-family: "Kode Mono";
    width: 30%;
}

.dpw-infoboxDataText {
    background: var(--color-surface-1);
    border: 1px solid var(--border-color-base);
    border-left: 0;
    width: 70%;
}

.dpw-infoboxHeader {
    background: var(--color-primary);
    font-size: 150%;
    padding: 0 0.5em 0 0.5em;
    font-family: "Kode Mono";
    text-transform: uppercase;

    &::before {
        content: "// ";
    }
}

/* Template:Spoiler (arknights.wiki.gg) */
.spoiler {
	background-color: black;
	opacity: 1;
	transition: all 0.3s;
	cursor: pointer;
	overflow: auto;

    * {
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s;
    }
}

.spoiler.show {
	background-color: transparent;

    * {
        pointer-events: unset;
        opacity: 1;
    }
}

.dpw-characterNav {
    display: flex;
    border: 1px solid var(--color-primary);
    background: var(--color-surface-1);
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 120%;

    a {
        width: 100%;
        text-align: center;

        &:hover {
            text-decoration: unset;
            color: white;
        }
    }
}

.dpw-characterNavButton {
    border-right: 1px solid var(--color-primary);
    padding: 0.2em 0.5em 0.2em 0.5em;
    transition: 0.3s all;
    background: var(--color-surface-1);

    &:hover {
        background: var(--color-primary);

        &::before {
            content: "> ";
        }

        &::after {
            content: " <";
        }
    }
}