.infobox {
    background: var(--color-surface-2);
    border: 2px dashed var(--border-color-base);
    padding: 0.5em;
    border-top: 5px solid var(--color-primary);
    float: right;
    clear: right;
    margin-left: 1em;
    margin-bottom: 0.5em;
    min-width: 28em;
    max-width: 32em;
    font-size: smaller;

    .title, .infobox-above {
        background: var(--color-primary);
        font-size: large;
        color: var(--color-base--emphasized);
    }

    .subtitle, .infobox-header {
        background: var(--color-primary);
        color: var(--color-base--emphasized);
    }

    .infobox-title {
        font-size: large;
        color: var(--color-base--emphasized)
    }

    .infobox-subheader {
        text-align: center;
        background: var(--color-surface-3);
    }

    .infobox-full-data {
        text-align: center;
    }

    p {
        margin: 0;
    }

    ul {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 1.5em;
    }

    .image, .infobox-image {
        text-align: center;
        border-bottom: 1px solid var(--border-color-base);
    }

    .infobox-label {
        background: var(--color-surface-3);
    }

    .infobox-below {
        text-align: center;
        background: var(--color-surface-3);
    }
}